body{
  background-color:#292861;
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
}

#logo1{
  font-size: 4vw;
}
#logo2{
  font-size: 4vw; color: rgb(242, 175, 88);
}
#headerStyle{
  padding-top: 10px; 
  padding-bottom: 10px; 
}