body{
  background-color:#292861;
  position: absolute;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
}

.subtitle {
  color: white;
  font-size: x-large;
}

.tile.is-vertical>.tile.is-child:not(:last-child) {
  margin-bottom: 0.7rem!important;
}

.tile.is-parent.flonk {
  padding: .75rem;
  padding-left: 0.5rem;
}

.tile.is-vertical.is-3 {
  padding: .75rem;
}

#questionbox {
  padding: .75rem;
}

.content.is-child {
  text-align: center;
}

.tile.is-child.is-info.box {
  background-color: #1FB58F;
  color: white;
  padding-top: 10%;
  text-align: center;

  border-color: #168267;
  border-width: 4px;
  border-style: solid;
}

.tile.is-child.is-primary.box {
  background-color: #EAB126;
  color: white;
  padding-top: 10%;
  text-align: center;

  border-color: #c2921f;
  border-width: 4px;
  border-style: solid;
}

.tile.is-child.is-danger.box {
  background-color: #F24C4E;
  color: white;
  padding-top: 10%;
  text-align: center;

  border-color: #d13f40;
  border-width: 4px;
  border-style: solid;
}

.tile.is-child.is-warning.box {
  background-color: #1B7B34;
  color: white;
  padding-top: 10%;
  text-align: center;
  
  border-color: #155e28;
  border-width: 4px;
  border-style: solid;

}

#logo1{
  font-size: 4vw;
  color: rgb(109, 110, 113)
}
#logo2{
  font-size: 4vw; 
  color: rgb(242, 175, 88);
}
#headerStyle{
  padding-top: 10px; 
  padding-bottom: 10px; 
}

#paers {
  background-color: #373995;
  color: white;
  border-width: 2px;
  border-color: white;
  border-style: solid;
}

#room_board {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: #373995;
  color: white;
}

#room_ready {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: #373995;
}

#room_info {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  background-color: #373995;
}