{% extends 'layout.html' %}
{% block title %}Game Lobby{% endblock %}
{% block main %}
<div class="container is-fluid">
<div class="tile is-ancestor">
    <div class="tile is-vertical is-3">
        <div class="tile is-child box" id="room_info">
            <p class="title">Room...</p>
            <p class="subtitle">information</p>
        </div>
        <div class="tile is-child box" id="room_board">
            <p class="title">Player list</p>
            <p style="text-align: justify;">Names Score</p>
            <ul>
                <li>_____<span style="padding-left: 200px;">...</span></li>
                <li>_____<span style="padding-left: 200px;">...</span></li>
                <li>_____<span style="padding-left: 200px;">...</span></li>
                <li>_____<span style="padding-left: 200px;">...</span></li>
            </ul>
            <button class="button is-primary modal-button" data-target="#myModal" aria-haspopup="true">Launch example modal</button>
        </div>
        <div class="tile is-child box" id="room_ready">
            <p class="subtitle">Ready up for the game to start</p>
            <!-- <form action="/foobar" method="post"> -->
                <button class="button is-success is-large is-fullwidth" type="submit">READY!</button>
            <!-- </form> -->
        </div>
    </div>
    <div class="tile" id="questionbox">
        <article class="tile notification is-vertical" id="QnA_container">
            <div class="content">
                <p class="title" style="text-align: center;">What is the largest fish in the world?</p>
            </div>
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child is-info box">
                        <p class="subtitle">A whale shark</p>
                    </div>
                    <div class="tile is-child is-primary box">
                        <p class="subtitle">A great white shark</p>
                    </div>
                </div>
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child is-danger box">
                        <p class="subtitle">A blue whale</p>
                    </div>
                    <div class="tile is-child is-warning box">
                        <p class="subtitle">An angler fish</p>
                    </div>
                </div>
            </div> 
        </article>

    </div>
</div>

<div class="modal" id="myModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="buttons has-addons is-centered is-large">
        <button class="button is-danger" id="category" value="{{ category }}">{{ category }}</button>
        <button class="button is-link" id="category" value="{{ category }}">{{ category }}</button>
        <button class="button is-warning" id="category" value="{{ category }}">{{ category }}</button>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>
  <script> 
  document.querySelectorAll('.modal-button').forEach(function(el) {
    el.addEventListener('click', function() {
      var target = document.querySelector(el.getAttribute('data-target'));
      
      target.classList.add('is-active');
      
      target.querySelector('.modal-close').addEventListener('click',   function() {
          target.classList.remove('is-active');
       });
    });
  });
  </script>
{% endblock %}