{% extends 'layout.html' %}
{% block title %}homepage{% endblock %}
{% block main %}
<div class="container is-fluid">
<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-warning">
            <center>
              <div class="container is-fluid">
              <p class="title">Join</p>
              <p class="subtitle">choose your username</p>
              <img src="https://i.ibb.co/N10sbKw/logo-no.png" class="level-left" width="81" height="9" alt="logo">
              <div class="container is-fluid">
              <div class="field">
                <div class="input-is-hovered">
                  <input class="input" type="text" placeholder="username">
                </div>
              </div>
              <div class="container is-fluid">
              <button class="button is-success is-medium">Go!</button>
            </div>
            </div>
            </center>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <center>
            <p class="title">Available rooms</p>
            <div class="container is-fluid">
            <ul>
              <li> room 1</li>
              <li> room 2</li>
              <li> room 3</li>
              <li> room 4</li>
              <li> room 5</li>
            </ul>
          </div>
            <button class="button is-warning is-medium">Join!</button>
          </article>
        </div>
      </centered>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <centered>
          <p class="title">Create your own room!</p>
          <div class="container is-fluid">
            <div class="container is-fluid">
          <div class="input-is-hovered">
            <input class="input" type="text" placeholder="Room name">
          </div>
        </div>
      </div>
        </centered>
          <div class="content">
            <button class="button is-info is-medium" >Make</button> 
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">How to play</p>
          <p class="subtitle">After you've chosen a unique username, you can join or create a game room.
          2-4 players fit in one room. Each round will have one quizmaster, that chooses a question category
          for the next question. After 20 questions the person with the most correct answers wins.
          </p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock %}
