{% extends 'layout.html' %}
{% block title %}homepage{% endblock %}
{% block main %}
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-warning">
          <p class="title">username</p>
          <p class="subtitle">idk wat we erbij kunnen zetten, kan ook weg I guess</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">Join existing room</p>
          <p class="subtitle">lijst met rooms</p>
          <ul>
            <li> room 1 </li>
            <li> room 2 </li>
            <li> room 3 </li>
            <li> room 4 </li>
            <li> room 5 </li>
            <li> room 6 </li>
          </ul>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">create your own room</p>
        <p class="subtitle">room name, how many players?? 2-4, etc.</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">How to play</p>
        <p class="subtitle">Challenge yourself .... etc etc.</p>
        <p class="title">About Hoo knows</p>
        <p class="subtitle">credits ofzo?</p>
        <div class="content">
          ik weet niet zo goed wat hier komt te staan dus ik probeer maar wat uit.
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}