{% extends 'layout.html' %}
{% block title %}quizmaster{% endblock %}
{% block main %}
<button class="button is-info modal-button" data-target="#myModal" aria-haspopup="true">Pick A Category!</button>

<div class="modal" id="myModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="content">
      <div class="tile is-parent is-vertical is-info notification">
          <h3 style="color: white; text-align: center;">
            Congrats! You are the quizmaster. <br>
            Please pick one of the listed categories:
          </h3>
      
      <!-- Category options -->
      <div class="buttons has-addons is-centered is-large">
        <div class="tile is-parent is-vertical">

          <!-- Category 1 -->
          <div class="tile is-child">
            <button class="button is-danger is-fullwidth" id="category">Nature And Science</button>
          </div>

          <!-- Category 2 -->
          <div class="tile is-child">
            <button class="button is-link is-fullwidth" id="category">Entertainment: Video Games</button>
          </div>
        </div>
        <div class="tile is-parent is-vertical">

          <!-- Category 3 -->
          <div class="tile is-child">
            <button class="button is-warning is-fullwidth" id="category">Entertainment: Movies</button>
          </div>

          <!-- Category 4 -->
          <div class="tile is-child">
            <button class="button is-success is-fullwidth" id="category">General Knowledge</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="modal-close is-large" aria-label="close"></button>
  </div>
</div>
<script> 
document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    
    target.classList.add('is-active');
    
    target.querySelector('.modal-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});
</script>
{%endblock%} 
