{% extends 'layout.html' %}
{% block title %}quizmaster{% endblock %}
{% block main %}
<button class="button is-primary modal-button" data-target="#myModal" aria-haspopup="true">Launch example modal</button>

<div class="modal" id="myModal">
  <div class="modal-background"></div>
  <d iv class="modal-content">
    <div class="content">
      <div class="tile is parent is-info">
      <p>
        Congrats! You are the quizmaster. <br>
        Please pick one the listed categories.
      </p>
      <div class="buttons has-addons is-centered is-large">
        <button class="button is-danger" id="category">category 1</button>
        <button class="button is-link" id="category">category 2</button>
        <button class="button is-warning" id="category">category 3</button>
      </div>
    </div>
  </div>
</div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<script> 
document.querySelectorAll('.modal-button').forEach(function(el) {
  el.addEventListener('click', function() {
    var target = document.querySelector(el.getAttribute('data-target'));
    
    target.classList.add('is-active');
    
    target.querySelector('.modal-close').addEventListener('click',   function() {
        target.classList.remove('is-active');
     });
  });
});
</script>
{%endblock%} 
